{{define "index"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./assets/css/index.css">
    <title>Project Forum</title>
  </head>
  <body>
    {{template "header"}}
    <div class="page-index">
      <div class="title">
        <!-- <h1>Project Forum</h1>
        <h2>Talk with your friend there</h2> -->
        <form action="/accounts" method="POST">
          <input type="submit" value="Show All Account" name="Name">
        </form>
      </div>
    </div
  </body>
  <!-- <script src="assets/js/index.js"></script> -->
</html>
{{end}}