body, * {
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: black;
    text-decoration: none;
    overflow-x: hidden;
}

.page-index {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #eee;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    transform: translate(0px, 130px);
    height: 100px;
}

.Info {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.less-essential {
    width: 350px;
    margin: 20px 20px 20px 20px;
    border: solid 2px black;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.essential {
    margin: 150px 0px 120px 0px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.account {
    display: flex;
    margin-top: 10%;
    align-items: center;
    justify-content: space-between;
    column-gap: 200px;
}

.AccountImg {
    border-radius: 50%;
    clip-path: ellipse(50% 50%);
}

.pp {
    width: 40%;
    display: inline;
    width: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    min-height: 150px;
    border: dotted;
}

.pp {
    
}