body, * {
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: black;
    text-decoration: none;
    overflow-x: hidden;
}
.page-index {
    width: 100vw;
    height: 800px;
    display: block;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    transform: translate(0px, 130px);
    height: 100px;
}
.form {
    position: absolute;
    width: 670px;
    right: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    align-content: space-between;
    margin: 250px 20px 20px 20px;
    border: solid 3px black;
    border-radius: 10px;
    justify-content: center;
}
.button {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch {
    display: flex;
    flex-direction: column;
    transform: translate(0px, 198px);
    align-items: center;
}
.message {
    position: absolute;
    top: 510px;
    left: 306px;
    width: 375px;
    border: black 3px solid;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column;
        
}
.buttoninput {
    font-size: 17px;
}
.inputbtn {
    position: absolute;
    left: 273px;
    top: 132px;
}
.invalid {
   color: red;
}
.invalid:before {
   content: "✖";
}
.valid {
    color: green; 
}
.valid:before {
    content: "✔";
}