<!--
    Template for all accounts
-->
{{define "accounts"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/accounts.css">
    <title>Project Forum</title>
</head>

<body>
    {{template "header" .}}
    <div class="page-index">
        <div class="title">
            <h1>Accounts</h1>
            <h2>Show all accounts existing on the site</h2>
        </div>
        {{template "singleAccount" .}}
    </div>
    {{template "footer" .}}
</body>

</html>
{{end}}

<!--
    Template for your account
-->
{{define "account"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/account.css">
    <script type="text/javascript" src="../assets/js/AccountPict.js"></script>
    <title>Project Forum</title>
</head>

<body>
    {{template "header" .}}
    <div class="page-index">
        <div class="title">
            <h1>Account</h1>
            <h2>Informations about your account</h2>
        </div>
        <div class="Info">
            <div class="account">
                <div class="essential">
                    <h3>{{.Account.Name}}</h3>
                    <div class="container">
                        <img class="pp" src="..\assets\image\Account_pp\{{.Account.Profile_Picture}}" />
                    </div>
                    <form method="POST" enctype="multipart/form-data" action="/upload_pp">
                        <input type="file" name="AddPP" accept="image/png">
                        <input type="submit">
                    </form>
                </div>
                <div class="less-essential">
                    <p>{{.Account.Password}}</p>
                    <p>{{.Account.Email}}</p>
                    <p>{{.Account.Uuid}}</p>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</body>

</html>
{{end}}


<!--
    Template for a user account
-->
{{define "user_account"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/account.css">
    <!-- <script src="../assets/js/profile_picture.js"></script> -->
    <title>Project Forum</title>
</head>

<body>
    {{template "header" .}}
    {{range .Data}}
    <div class="page-index">
        <div class="title">
            <h1>Account</h1>
            <h2>Informations about {{.Name}} account</h2>
        </div>
        <div class="Info">
            <div class="account">
                <div class="essential">
                    <h3>{{.Name}}</h3>
                    <img src="../assets/image/Account_pp/{{.Profile_Picture}}">

                </div>
                <div class="less-essential">
                    <p>{{.Email}}</p>
                </div>
            </div>
        </div>
    </div>
    {{end}}
    {{template "footer" .}}
</body>

</html>
{{end}}