{{define "login"}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/login.css">
    <title>Project Forum</title>
  </head>
  <body>
    {{template "header"}}
    <div class="page-index">
        <div class="title">
            <h1>Project Forum login</h1>
            <h2>Talk with your friend there</h2>
        </div>
        <div class="form">
            <form action="/log" method="POST">
                <input type="text" placeholder="Name" name="Name" required>
                <input type="password" placeholder="Password" name="Password" required>
                <input type="email" placeholder="example@gmail.com" name="Email" required>
                <input type="submit" value="Create Account">
            </form>
        </div>
    </div
  </body>
</html>
{{end}}